<strong>Reperando senha</strong>

<p>Uma solicitação de senha foi realizada para o email ({{ email }}).
  Se você não foi o autor desta requisição seria legal trocar.
</p>

<p>Para continuar com a recuperação utilize o token {{ token }} ou utilize o link abaixo</p>

<a href="{{ link }}">Resetar minha senha</a>
